<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IAuthService" />
    <binding name="BasicHttpBinding_IProfileService" />
   </basicHttpBinding>
  </bindings>

		<client>
   <endpoint address="http://localhost:8085/Hangman/AuthService/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService"
    contract="ServiceReferenceAuth.IAuthService" name="BasicHttpBinding_IAuthService" />
   <endpoint address="http://localhost:8085/Hangman/ProfileService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
    contract="ServiceReferenceProfile.IProfileService" name="BasicHttpBinding_IProfileService" />
  </client>
	</system.serviceModel>
</configuration>