<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IAuthService" />
    <binding name="BasicHttpBinding_IProfileService" />
    <binding name="BasicHttpBinding_IMatchService" />
    <binding name="BasicHttpBinding_IMatchGameplayService" />
    <binding name="BasicHttpBinding_IWordService" />
    <binding name="BasicHttpBinding_IMatchGuessService" />
    <binding name="BasicHttpBinding_IMatchChatService" />
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_IMatchNotificationService">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>

		<client>
   <endpoint address="http://localhost:8085/Hangman/AuthService/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService"
    contract="ServiceReferenceAuth.IAuthService" name="BasicHttpBinding_IAuthService" />
   <endpoint address="http://localhost:8085/Hangman/ProfileService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
    contract="ServiceReferenceProfile.IProfileService" name="BasicHttpBinding_IProfileService" />
   <endpoint address="http://localhost:8085/Hangman/MatchService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchService"
    contract="ServiceReferenceMatch.IMatchService" name="BasicHttpBinding_IMatchService" />
   <endpoint address="net.tcp://localhost:8090/Hangman/MatchNotificationService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchNotificationService"
    contract="ServiceReferenceMatchNotification.IMatchNotificationService"
    name="NetTcpBinding_IMatchNotificationService" />
   <endpoint address="http://localhost:8085/Hangman/MatchGameplayService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchGameplayService"
    contract="ServiceReferenceMatchGameplay.IMatchGameplayService"
    name="BasicHttpBinding_IMatchGameplayService" />
   <endpoint address="http://localhost:8085/Hangman/WordService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWordService"
    contract="ServiceReferenceWord.IWordService" name="BasicHttpBinding_IWordService" />
   <endpoint address="http://localhost:8085/Hangman/MatchGuessService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchGuessService"
    contract="ServiceReferenceMatchGuess.IMatchGuessService" name="BasicHttpBinding_IMatchGuessService" />
   <endpoint address="http://localhost:8085/Hangman/MatchChatService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchChatService"
    contract="ServiceReferenceChat.IMatchChatService" name="BasicHttpBinding_IMatchChatService" />
  </client>
	</system.serviceModel>
</configuration>